@font-face {
    font-family: 'Rubik Regular';
    src: url(../fonts/Rubik-Regular.ttf);
}

h1,h2,h3,h4{
    color: #ddbfff;
    font-weight: normal;
}
p,a,li{
    color: $main-color;
}
h1,h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}

h4{
    font-size: 1.1em;
}
.leading{
    font-size: 1.1em;
}